DEBUG DUMP
Terraform Format Version: {{ format_version }}
Terraform Application Version: {{ terraform_version }}

[Data Output: raw_entries]
{%- for entry in raw_entries %}
{{ entry }}
{%- endfor %}

[Processed Resources: <Processor> name: type (processed fields)]
{%- for entry in resources %}
{{ entry }}
{%- endfor %}